#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

canvas {
  /* margin: auto; */
  /* width: 200px;
  height: 200px; */
  border: 3px solid black;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}